@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: #ffffff;
  color: #000000;
}

* {
  box-sizing: border-box;
}

input, select, textarea {
  outline: none;
}
